@import 'https://fonts.googleapis.com/css?family=Prompt:200,700';

/* Reset */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Base design */

html {
  background-color: #212121;
}

body {
  font-family: 'Prompt', sans-serif;
  background-color: transparent;
  color: #fff;
  overflow: hidden;
}

.panel {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.panel__artwork-wrap,
.panel__background {
  position: absolute;
  left: -2vmax;
  top: -2vmax;
  right: -2vmax;
  bottom: -2vmax;
  transform: translateZ(0);
}

.panel {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.panel__lines {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.panel__line,
.panel__message {
  line-height: 1.3;
}

.panel__message {
  font-size: calc(3rem + 5vw);
  font-weight: 700;
}

.panel__line.is-title {
  font-size: calc(1rem + 3vw);
  font-weight: 700;
  order: -1;
}

.panel__line.is-artist {
  font-size: 2.5vw;
  font-weight: 200;
}

.panel__line.is-album {
  display: none;
}

.panel__artwork-wrap {
  opacity: 0.4;
  z-index: 1;
}

.panel__artwork {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: -8px;
  filter: blur(1vmax);
}

.panel__background {
  background-size: cover;
  background-position: center;
  filter: blur(1vmax);
}

.spinner {
  margin: 0 auto;
  width: 4rem;
  display: flex;
  justify-content: space-between;
}

.spinner__one,
.spinner__two,
.spinner__three {
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
}

.panel__artwork-wrap,
.panel__line,
.spinner {
  cursor: default;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Logic and Animation — Play State */

.body {
  transition-property: background-color, background-image;
  transition-duration: 1000ms;
}

.panel__line.is-artist,
.panel__line.is-title,
.panel__message,
.spinner {
  transform: translateZ(0);
  transition-property: transform, opacity;
  transition-duration: 600ms, 300ms;
}

.panel__line.is-artist {
  transform-origin: top;
}

.panel__line.is-title {
  transform-origin: bottom;
}

.panel__artwork-wrap {
  transition: opacity 300ms;
}

.app:not(.is-playing) .panel__line.is-artist,
.app:not(.is-playing) .panel__line.is-title {
  opacity: 0;
  transform: scale(1.5);
}

.app:not(.is-playing) .panel__line.is-title {
  transition-delay: 100ms;
}

.app:not(.is-playing) .panel__background {
  transition-delay: 200ms;
}

.app:not(.is-playing) .panel__artwork-wrap {
  opacity: 0;
  transition-delay: 200ms;
}

.app.is-paused .panel__message {
  transition-delay: 300ms;
}

.app.is-playing .panel__message {
  transform: scale(0.6667);
}

.app:not(.is-paused) .panel__message {
  opacity: 0;
}

.app:not(.is-paused) .panel__line.is-artist {
  transition-delay: 100ms;
}

.app:not(.is-paused) .panel__line.is-title {
  transition-delay: 200ms;
}

.app:not(.is-loading) .spinner {
  opacity: 0;
}

/* Logic and Animation — Field Updates */

@keyframes fade-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes fade-in-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.panel__line.is-new {
  margin-bottom: -1.3em;
}

.panel__line.is-title.is-old {
  animation: 500ms fade-out-top;
}

.panel__line.is-title.is-new {
  animation: 500ms fade-in-top;
}

.panel__line.is-artist.is-old {
  animation: 500ms ease 100ms fade-out-bottom;
}

.panel__line.is-artist.is-new {
  opacity: 0;
  animation: 500ms ease 100ms fade-in-bottom;
  animation-fill-mode: forwards;
}

/* Logic and Animation — Artwork */

@keyframes fade-out {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

.panel__artwork-wrap.is-old {
  animation: 1000ms fade-out;
}

.panel__artwork-wrap.is-new {
  animation: 1000ms fade-in;
}

/* Logic and Animation - Loading */
/* Adapted from https://github.com/tobiasahlin/SpinKit */

.spinner__one,
.spinner__two,
.spinner__three {
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner__one {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner__two {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
